*-no-commit.*
**/*-no-commit.*
.runtime/
*/.runtime/
**/.runtime/
*.jar
*/*.jar
**/*.jar
.DS_Store
*.DS_Store
*/.DS_Store
**/.DS_Store
logs/
*/logs/
**/logs/
test-output
*/test-output/
**/test-output/
.project
*.project
*/.project
**/.project
.classpath
*/.classpath
**/.classpath
.settings/
*/.settings/
**/.settings/
build/
*/build/
**/build/
.iml
*.iml
*/.iml/
**/.iml
.idea
*/.idea/
**/.idea/
*.log
*/*.log
**/*.log
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
